---
import Layout from "../layouts/Layout.astro";
import { DashboardContainer } from "@/components/DashboardContainer";
---

<Layout title="Dashboard - Housework Master">
  <main>
    <DashboardContainer client:load />
  </main>
</Layout>

